body{
    background-color: cornsilk;
}


.navbar{
    text-align:center;
    
}
.navbar ul{
    display: inline-flex;
    list-style: none;
    
}
.navbar ul li{
    width: 270px;
    margin: 45px;
    padding: 2px;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(97, 89, 7);
    font-size: 40px;
    font-weight: bolder;
    background-color: rgba(139, 0, 0, 0.017);

}
.navbar ul li:hover{
    background-color: rgba(41, 53, 72, 0.532);
    border-radius: 50px;
    
}
h1{
    font-size: 60px;
    text-align: center;
    background-color: rgba(165, 42, 42, 0.097);
}
